{
  "WorkspaceGuid": "8e15a176-ac93-4ed2-9540-818214ab1199",
  "ManifestPackageFilePath": "C:\\Users\\mjtpena\\dev\\fabric-workloads\\fabric-contract-intelligence\\frontend\\tools\\dist\\ManifestPackage.nupkg"
}
